body,
html {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

#padder {
    background-color: #C87A5B;
    height: 8vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navs {
    display: flex;
    gap: 5vw;
    padding-right: 10vw;
}

.logo {
    width: 8vw;
    height: 15vh;
    margin-left: 5vw;
    margin-top: -5vh;
    border: 2px solid black;
    border-radius: 6px;
}

.nav {
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    
    text-align: center;
    width: 8vw;
    height: 6vh;
}

.nav.selected {
    background-color: black;
    color: white;
}

.nav:not(.selected):hover {
    background-color: #d8ae9d;
    cursor: pointer;
}

#content {
    background-color: #F8F7F0;
    flex: 1;
}